.home-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
  animation: fade 0.7s ease-in;
}

@keyframes fade {
  from { opacity: 0; transform: translateY(10px); }
  to { opacity: 1; transform: translateY(0); }
}
